<%= form_for(@jem, :html => {:multipart => true}) do |f| %>
  <% if @jem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jem.errors.count, "error") %> prohibited this jem from being saved:</h2>

      <ul>
      <% @jem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :base_name %><br />
    <%= f.text_field :base_name %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </div>
  <p>
    <%= f.file_field :js %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
