<%= form_for(@jem, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @jem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jem.errors.count, "error") %> prohibited this jem from being saved:</h2>

      <ul>
      <% @jem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :base_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :base_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => "control-label" %><br />
    <div class="controls">
      <%= f.text_field :author %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %><br />
    <div class="controls">
      <%= f.text_field :email %>
  </div>
  </div>
    <div class="control-group">
    <%= f.label :description, :class => "control-label" %><br />
    <div class="controls">
      <%= f.text_area :description, :rows => 5, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => "control-label" %><br />
    <div class="controls">
      <%= f.text_area :summary, :rows => 5, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :homepage, :class => "control-label" %><br />
    <div class="controls">
      <%= f.text_field :homepage %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">File</label>
    <div class="controls">
      <%= f.file_field :js %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Submit", :class => 'btn' %>
    </div>
  </div>

<% end %>
