<div class="hero-unit">
  <h2>Welcome to GemifyJS</h2>
  <h4>Sharing Javascript just got easier</h4>
</div>

<div class="row">

  <div class="thumbnail span4">
    <%= link_to image_tag('/assets/add.png'), new_jem_path %>
    <h3><%= link_to "Make a new gem", new_jem_path %></h3>  
    <p>Upload a Javascript and create a gem seamlessly</p>
  </div>

  <div class="thumbnail  span4">
    <%= link_to image_tag('/assets/github-octocat.png'), "http://www.github.com/gemifyjs/gemifyjs" %>
    <h3><%= link_to "Check us out on GitHub", "http://www.github.com/gemifyjs/gemifyjs" %></h3>  
    <p>Contribute to the project and help the community</p>
  </div>

  <div class="thumbnail span4">
    <%= link_to image_tag('/assets/rubygems.png'), "https://rubygems.org/profiles/64152" %>  
    <h3><%= link_to "See all gems on RubyGems", "https://rubygems.org/profiles/64152" %></h3>
    <p>Find all gems created by GemifyJS</p>
  </div>
  
</div>