<h1>Listing jems</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jems.each do |jem| %>
  <tr>
    <td><%= jem.name %></td>
    <td><%= jem.description %></td>
    <td><%= link_to 'Show', jem %></td>
    <td><%= link_to 'Edit', edit_jem_path(jem) %></td>
    <td><%= link_to 'Destroy', jem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jem', new_jem_path %>
