<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jem.base_name %>
</p>

<p>
  <b>Description:</b>
  <%= @jem.description %>
</p>

<%= link_to "Check it out on Github!", "https://github.com/gemifyjs/#{@jem.name}" %> <br />
<%= link_to "Check it out on Rubygems!", "https://rubygems.org/gems/#{@jem.name}" %>
