<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jem.base_name %>
</p>

<p>
  <b>Description:</b>
  <%= @jem.description %>
</p>


<%= link_to 'Edit', edit_jem_path(@jem) %> |
<%= link_to 'Back', jems_path %>
