<!DOCTYPE html>
<html>
<head>
  <title>Gemifyjs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <%= link_to "GemifyJS", root_path, :class => 'brand' %>
      <ul class="nav pull-right">
        <% if current_user %>
          <li><a href="#"><%= current_user.name.empty? ? current_user.email : current_user.name %></a></li>
          <li><%= link_to "Sign Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Login/Register", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <%#= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
